html {
    height: 100%
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: 'Open Sans', sans-serif;
}
table {
    text-align: center;
}
p {
    padding-left: 5px;
    padding-right: 5px;
}
#tweet-pop {
    font-family: 'Poiret One', cursive;
    font-size: 3em;
    color: #3498db;
    margin-left: 160px;
    position: relative;
    display: inline;
    top: 7px;
    z-index: 4
}
#slogan {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    display: inline;
    position: absolute;
    top: 19px;
    color: #e67e22;
    margin-left: 10px;
    z-index: 3;
}
.box {
    width: 300px;
    height: 325px;
}
.stats-box {
    text-align: center;
    width: 291px;
    height: 60px;
    background-color: #bdc3c7;
    z-index: 0;
    position: absolute;
    margin-left: 4px;
}
#average-static {
    color: #3498db;
    font-size: 0.9em;
    z-index: 1;
    display: inline;
}
.bieber {
    max-width: 280px;
    text-align: center;
    color: white;
    font-size: 0.8em;
    z-index: 1;
    position: absolute;
    margin-top: 80px;
}
#bieber-pic {
    z-index: 0;
    position: relative;
    opacity: 0.3;
    width: 300px;
    height: 250px;
}
#bieber-average {
    max-width: 250px;
    text-align: center;
    color: #e67e22;
    font-size: 0.8em;
    z-index: 5;
    display: inline;
}
#bieber-current {
    max-width: 250px;
    text-align: center;
    color: red;
    font-size: 0.8em;
    z-index: 1;
    position: absolute;
    display: inline;
}
.beyonce {
    max-width: 280px;
    text-align: center;
    color: white;
    font-size: 0.8em;
    z-index: 1;
    position: absolute;
    margin-top: 80px;
}
#beyonce-pic {
    z-index: 0;
    position: relative;
    opacity: 0.3;
    width: 300px;
    height: 250px;
}
#beyonce-average {
    max-width: 250px;
    text-align: center;
    color: #e67e22;
    font-size: 0.8em;
    z-index: 5;
    display: inline;
}
#beyonce-current {
    max-width: 250px;
    text-align: center;
    color: red;
    font-size: 0.8em;
    z-index: 1;
    position: absolute;
    display: inline;
}
.timberlake {
    max-width: 280px;
    text-align: center;
    color: white;
    font-size: 0.8em;
    z-index: 1;
    position: absolute;
    margin-top: 80px;
}
#timberlake-pic {
    z-index: 0;
    position: relative;
    opacity: 0.3;
    width: 300px;
    height: 250px;
}
#timberlake-average {
    max-width: 250px;
    text-align: center;
    color: #e67e22;
    font-size: 0.8em;
    z-index: 5;
    display: inline;
}
#timberlake-current {
    max-width: 250px;
    text-align: center;
    color: red;
    font-size: 0.8em;
    z-index: 1;
    position: absolute;
    display: inline;
}
.katy {
    max-width: 280px;
    text-align: center;
    color: white;
    font-size: 0.8em;
    z-index: 1;
    position: absolute;
    margin-top: 80px;
}
#katy-pic {
    z-index: 0;
    position: relative;
    opacity: 0.3;
    width: 300px;
    height: 250px;
}
#katy-average {
    max-width: 250px;
    text-align: center;
    color: #e67e22;
    font-size: 0.8em;
    z-index: 5;
    display: inline;
}
#katy-current {
    max-width: 250px;
    text-align: center;
    color: red;
    font-size: 0.8em;
    z-index: 1;
    position: absolute;
    display: inline;
}
.eminem {
    max-width: 280px;
    text-align: center;
    color: white;
    font-size: 0.8em;
    z-index: 1;
    position: absolute;
    margin-top: 80px;
}
#eminem-pic {
    z-index: 0;
    position: relative;
    opacity: 0.3;
    width: 300px;
    height: 250px;
}
#eminem-average {
    max-width: 250px;
    text-align: center;
    color: #e67e22;
    font-size: 0.8em;
    z-index: 5;
    display: inline;
}
#eminem-current {
    max-width: 250px;
    text-align: center;
    color: red;
    font-size: 0.8em;
    z-index: 1;
    position: absolute;
    display: inline;
}
.miley {
    max-width: 280px;
    text-align: center;
    color: white;
    font-size: 0.8em;
    z-index: 1;
    position: absolute;
    margin-top: 80px;
}
#miley-pic {
    z-index: 0;
    position: relative;
    opacity: 0.3;
    width: 300px;
    height: 250px;
}
#miley-average {
    max-width: 250px;
    text-align: center;
    color: #e67e22;
    font-size: 0.8em;
    z-index: 5;
    display: inline;
}
#miley-current {
    max-width: 250px;
    text-align: center;
    color: red;
    font-size: 0.8em;
    z-index: 1;
    position: absolute;
    display: inline;
}
.rihanna {
    max-width: 280px;
    text-align: center;
    color: white;
    font-size: 0.8em;
    z-index: 1;
    position: absolute;
    margin-top: 80px;
}
#rihanna-pic {
    z-index: 0;
    position: relative;
    opacity: 0.3;
    width: 300px;
    height: 250px;
}
#rihanna-average {
    max-width: 250px;
    text-align: center;
    color: #e67e22;
    font-size: 0.8em;
    z-index: 5;
    display: inline;
}
#rihanna-current {
    max-width: 250px;
    text-align: center;
    color: red;
    font-size: 0.8em;
    z-index: 1;
    position: absolute;
    display: inline;
}
.bruno {
    max-width: 280px;
    text-align: center;
    color: white;
    font-size: 0.8em;
    z-index: 1;
    position: absolute;
    margin-top: 80px;
}
#bruno-pic {
    z-index: 0;
    position: relative;
    opacity: 0.3;
    width: 300px;
    height: 250px;
}
#bruno-average {
    max-width: 250px;
    text-align: center;
    color: #e67e22;
    font-size: 0.8em;
    z-index: 5;
    display: inline;
}
#bruno-current {
    max-width: 250px;
    text-align: center;
    color: red;
    font-size: 0.8em;
    z-index: 1;
    position: absolute;
    display: inline;
}
.adele {
    max-width: 280px;
    text-align: center;
    color: white;
    font-size: 0.8em;
    z-index: 1;
    position: absolute;
    margin-top: 80px;
}
#adele-pic {
    z-index: 0;
    position: relative;
    opacity: 0.3;
    width: 300px;
    height: 250px;
}
#adele-average {
    max-width: 250px;
    text-align: center;
    color: #e67e22;
    font-size: 0.8em;
    z-index: 5;
    display: inline;
}
#adele-current {
    max-width: 250px;
    text-align: center;
    color: red;
    font-size: 0.8em;
    z-index: 1;
    position: absolute;
    display: inline;
}
.swift {
    max-width: 280px;
    text-align: center;
    color: white;
    font-size: 0.8em;
    z-index: 1;
    position: absolute;
    margin-top: 80px;
}
#swift-pic {
    z-index: 0;
    position: relative;
    opacity: 0.3;
    width: 300px;
    height: 250px;
}
#swift-average {
    max-width: 250px;
    text-align: center;
    color: #e67e22;
    font-size: 0.8em;
    z-index: 5;
    display: inline;
}
#swift-current {
    max-width: 250px;
    text-align: center;
    color: red;
    font-size: 0.8em;
    z-index: 1;
    position: absolute;
    display: inline;
}
.levine {
    max-width: 280px;
    text-align: center;
    color: white;
    font-size: 0.8em;
    z-index: 1;
    position: absolute;
    margin-top: 80px;
}
#levine-pic {
    z-index: 0;
    position: relative;
    opacity: 0.3;
    width: 300px;
    height: 250px;
}
#levine-average {
    max-width: 250px;
    text-align: center;
    color: #e67e22;
    font-size: 0.8em;
    z-index: 5;
    display: inline;
}
#levine-current {
    max-width: 250px;
    text-align: center;
    color: red;
    font-size: 0.8em;
    z-index: 1;
    position: absolute;
    display: inline;
}
.lovato {
    max-width: 280px;
    text-align: center;
    color: white;
    font-size: 0.8em;
    z-index: 1;
    position: absolute;
    margin-top: 80px;
}
#lovato-pic {
    z-index: 0;
    position: relative;
    opacity: 0.3;
    width: 300px;
    height: 250px;
}
#lovato-average {
    max-width: 250px;
    text-align: center;
    color: #e67e22;
    font-size: 0.8em;
    z-index: 5;
    display: inline;
}
#lovato-current {
    max-width: 250px;
    text-align: center;
    color: red;
    font-size: 0.8em;
    z-index: 1;
    position: absolute;
    display: inline;
}
.dragon {
    max-width: 280px;
    text-align: center;
    color: white;
    font-size: 0.8em;
    z-index: 1;
    position: absolute;
    margin-top: 80px;
}
#dragon-pic {
    z-index: 0;
    position: relative;
    opacity: 0.3;
    width: 300px;
    height: 250px;
}