html {
    height: 100%
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: 'Open Sans', sans-serif;
}
.katy {
    text-align: center;
    color: white;
    font-size: 0.8em;
}
.eminem {
    text-align: center;
    color: white;
    font-size: 0.8em;
}
.bieber {
    max-width: 290px;
    text-align: center;
    color: white;
    font-size: 0.8em;
    z-index: 1;
    position: absolute;

}
.bieber-pic{
    z-index: 0;
    opacity: 0.8;
    position: relative;
}
.beyonce {
    text-align: center;
    color: white;
    font-size: 0.8em;
}
/*tables*/

.box {

    text-align: center;
    width: 300px;
    height: 250px;

}