body {
    background-color: #1abc9c;
    font-family: 'Open Sans', sans-serif;
}
.tweet-container {
    background-color: black;
    border: 1px solid white;
    width: 800px;
    height: 100px;
    margin: auto;
    padding: 5px;
}
.tweet {

    text-align: center;
    color: white;
}